.list-group-task .list-group-task-item {
  border-bottom: 1px solid rgb(188, 194, 182);
}

.list-group-last-task-item {
  border-bottom: none;
}

.todo-icons {
  margin-left: auto;
}

ul {
  list-style: none;
}

.modal {
  margin-top: 200px;
  height: 300px;
}
