.list-group-task .border-bottom-color {
  border-bottom: 1px solid rgb(188, 194, 182);
}

.todo-icons {
  margin-left: auto;
}

.header-text {
  flex-grow: 1;
  margin: auto;
  text-align: center;
}

.container-wrapper {
  width: 700px;
  margin: 0 auto;
}

.hello-there {
  margin-left: auto;
}

.loading-animation {
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
}

p {
  margin: auto 0;
}

.modal {
  margin-top: 200px;
  height: 300px;
}
